<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/ajax.css" rel="stylesheet" type="text/css">
   <title>Formulário para upload de imagens</title>
</head>
<body>
   <h1>Formulário para upload de imagens</h1>
   <hr/>
   <form action="/getImgs" method="post" enctype="multipart/form-data">
       <table>
           <tr>
               <td>Autor da Imagem:</td>
               <td><input type="text" name="pNome" size="50" maxlength="50" required/></td>
           </tr>
           <tr>
               <td>Data de Obtenção:</td>
               <td><input type="date" name="pData" required/></td>
           </tr>
           <tr>
               <td>Imagem:</td>
               <td><input type="file" name="pImagem" required/></td>
           </tr>
       </table>
       <br/>
       <input type="submit" value="Enviar Imagem"/>
   </form>
   <hr/>
   <br/>
   <a href="/"> Voltar ao Menu </a>
</body>
</html>
