<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/ajax.css" rel="stylesheet" type="text/css">
   <title>Exemplos com Ajax</title>
</head>
<body>
   <h1>Exemplos usando Ajax - Asynchronous JavaScript And XML. </h1>
   <hr/>
   <ul>
       <li><a href="/consultar">Consulta por tipo de software</a></li>
       <li><a href="/combos">Combos associadas (Tipo-Software)</a></li>
       <li><a href="/org">Organograma de Tipo e Software</a></li>
       <li><a href="/barras">Gráfico de Barras Tipo e Software</a></li>
   </ul>
</body>
</html>
