<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/crud_celular.css" rel="stylesheet" type="text/css">
   <title>CRUD para a Tabela de Celular</title>
</head>
<body>
   <h1>Cadastro de Celular - CRUD</h1>
   <hr/>
   <ul>
       <li><a href="/formincluir">C - CREATE (Incluir Celular)</a></li>
       <li><a href="/parconsultar">R - READ (Consultar Celular)</a></li>
       <li><a href="/paralterar">U - UPDATE (Alterar Celular)</a></li>
       <li><a href="/parexcluir">D - DELETE (Excluir Celular)</a></li>
   </ul>
</body>
</html>
