<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/ajax.css" rel="stylesheet" type="text/css">
   <title>Exemplos com Ajax</title>
</head>
<body>
   <h1>Exemplos usando Ajax - Asynchronous JavaScript And XML. </h1>
   <hr/>
   <ul>
       <li><a href="/consultar">Consulta por marca</a></li>
       <li><a href="/combos">Combos associadas (Celular - Marca)</a></li>
       <li><a href="/org">Organograma de Celulares</a></li>
       <li><a href="/pizza">Gráfico de Pizza de Celulares</a></li>
       <li><a href="/donut">Gráfico de Donut de Celulares</a></li>
       <li><a href="/mapa">Mapa das empresas de celular</a></li>
   </ul>
</body>
</html>
