<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/ajax.css" rel="stylesheet" type="text/css">
   <script type="text/javascript" src="static/ajax.js"></script>
   <title>Combos associadas</title>
</head>
<body>
   <h1>Combos que quando selecionar um item filtra outra combo</h1>
   <hr/>
   <div>
       <table>
           <tr>
              <td>Países:</td>
              <td>{{ paises | safe }}</td>
           </tr>
           <tr>
              <td>Estados:</td>
              <td><span id="idEstado"></span></td>
           </tr>
           <tr>
              <td>População:</td>
              <td><span id="idVer"></span></td>
           </tr>
       </table>
       <br/>
   </div>
   <br/>
   <hr/>
   <br/>
   <a href="/"> Voltar ao Menu </a>
</body>
</html>

<script>
   function execPaises(){
     var idIdt = document.getElementById("idtPais").value;
     chamarURL("/estado", "idEstado", "pais=" + idIdt);
   }

   function execEstados(){
     var idIdt = document.getElementById("idtEstado").value;
     chamarURL("/ver", "idVer", "estado=" + idIdt);
   }
</script>