<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/ajax.css" rel="stylesheet" type="text/css">
   <title>Exemplos com Ajax</title>
</head>
<body>
   <h1>Exemplos usando Ajax - Asynchronous JavaScript And XML. </h1>
   <hr/>
   <ul>
       <li><a href="/consultar">Consulta por país</a></li>
       <li><a href="/combos">Combos associadas (País-Estado)</a></li>
       <li><a href="/org">Organograma de País e Estado</a></li>
       <li><a href="/pizza">Gráfico de Pizza País e Estado</a></li>
   </ul>
</body>
</html>
